---
name: Lint
on:
  push:
  pull_request:

permissions: {}

jobs:
  run-lint:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      # to fix any linting issues
      contents: write
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          # Full git history is needed to get a proper list of changed files
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter/slim@v7
        env:
          VALIDATE_RENOVATE: false
          FIX_YAML_PRETTIER: true
          FIX_MARKDOWN_PRETTIER: true
          FIX_MARKDOWN: true
          FIX_JSON_PRETTIER: true
          FIX_JSON: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
