---
name: Stack Healthcheck
on:
  push:
  pull_request:
  workflow_dispatch:

permissions: read-all

jobs:
  test:
    name: Test Stack
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Deploy the stack, timeout if not healthy after 2m
        run: timeout 120 docker compose up --quiet-pull --wait
      - name: Check creating database
        run: docker compose logs | grep "CREATE DATABASE"
      - name: Check database creation
        run: docker compose logs | grep "Success. You can now start the database server"
      - name: Check postgres init
        run: docker compose logs | grep "PostgreSQL init process complete; ready for start up."
